@use '../abstracts/' as *;

.logo {
  height: 250px;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em $brandColor);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
   .logo {
    animation: logo-spin infinite 20s linear;
  }
}