// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
$primaryFont: 'Open Sans', apple-system, sans-serif;

// COLORS (https://tailwindcss.com/docs/customizing-colors)
$primaryColor: #FFFFFF;
$complementaryColor: #111827; /* TAILWIND: GRAY 900 */
$complementarySkewColor: #212529;
$highlightColor: #9ca3af; /* TAILWIND: GRAY 400 */
$brandColor: #60a5fa; /* TAILWIND: BLUE 400 */
$brandSkewColor: #818cf8; /* TAILWIND: INDIGO 400 */
$succesColor: #16a34a; /* TAILWIND: GREEN 600 */
$errorColor: #dc2626; /* TAILWIND: RED 600 */

// THEME COLORS
$lightMode: #eab308;
$darkMode: #6366f1;

// MIXIN: Set text color dynamically
@mixin setBackground($color) {
  background-color: $color;
  color: set-text-color($color);
}
// FUNCTIONS
@function set-text-color($color){
  @if(lightness($color) > 70) { 
    @return $complementaryColor; 
  } @else {
    @return $primaryColor;
  }
}

// BS-UTILITIES: Spacer
$spacer: 2rem;